{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
	    <li>{{item.status}}  -  {{item.title}}</li>
        {% endfor %}
      </ul>
	  <h3>Add items</h3>
	  <form action = "/add" method="POST" class="AddNewItem"</form>
	  	<div class="AddNewItem">
			<label for="name">Enter item</label>
	  		<input type="text" name="title" id="title" required>
			<button>Confirm</button>
		</div>
	  </form>		
    </div>
  </div>
{% endblock %}